:root {
  --light-gray-color: #9e9e9e;
  --dark-gray-color: #696969;

  --main-background-color: #353638;
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("public/fonts/gotham-pro.woff2") format("woff2");
}

.page {
  font-family: "Gotham Pro", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: var(--dark-gray-color);
}

.page__body {
  margin: 0;
}

.body {
  background-color: var(--main-background-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}
